@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    position: relative;
    height: 80vh;
}

.main .box {
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0px;
}

nav {
    width: 800px;
    height: 45px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    width: 114px;
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel", serif;
    height: calc(100% - 45px);
    color: white;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 40px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 23px;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;

}

.line {
    height: 6px;
    background-color: gray;

}

.btn {
    padding: 5px 8px;
    background-color: white;
    font-weight: bolder;
    border-radius: 4px;
    border: solid white 0px;
    color: white;

}

.btn-get {
    background-color: red;
    padding: 17px 25px;
    font-size: 25px;
}

.btn-si {
    background: red;
}

.btn-English {
    background-color: rgba(23, 23, 23, 0.3);
    border: rgba(235, 231, 231, 0.5) solid 1.5px;

}

.text {
    background-color: rgba(23, 23, 23, 0.5);
    padding: 25px 25px 17px 15px;
    color: white;
    font-weight: bolder;
    width: 40vh;
    border: rgba(231, 231, 231, 0.5) solid 1.5px;
    border-radius: 3px;
}
.first{
    display:  flex;
    align-items: center;
    justify-content: center ;
    margin: auto;
    max-width:  60vw;
    height: 35vw;
}
.first_text{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    right: 10%;
}
.first_text :nth-child(1) {
    font-weight:bolder;
    font-size: 40px;
    
}
.first_text :nth-child(2) {
    font-weight :400 ;
    font-size: 16px;
    
}
.Screen{
    position: relative;
    top: 5px;
    left: 15vw;
}
.Screen img{
    width: 30vw;
    position: relative;
    right: 30%;
    z-index: 10;
    top: 60px;
}
.Screen video{
    position: relative;
    right:85px;
    width: 22vw;
    bottom: 14vw;
}
.Second{
    display:  flex;
    align-items: center;
    justify-content: center ;
    margin: auto;
    max-width:  60vw;
    height: 35vw;
}
.Second_text{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    left: 20px;
}
.Second_text :nth-child(1) {
    font-weight:bolder;
    font-size: 40px;
    
}
.Second_text :nth-child(2) {
    font-weight :400 ;
    font-size: 16px;
    
}
.Second_Screen{
    position: relative;
    top: 5px;
}
.Second_Screen img{
    width: 30vw;
    position: relative;
    right: 30%;
    z-index: 10;
    top: 20px;
}
.third{
    display:  flex;
    align-items: center;
    justify-content: center ;
    margin: auto;
    max-width:  60vw;
    height: 35vw;
}
.third_text{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    right: 10%;
}
.third_text :nth-child(1) {
    font-weight:bolder;
    font-size: 40px;
    
}
.third_text :nth-child(2) {
    font-weight :400 ;
    font-size: 16px;
    
}
.third_Screen{
    position: relative;
    top: 5px;
    left: 15vw;
}
.third_Screen img{
    width: 30vw;
    position: relative;
    right: 30%;
    z-index: 10;
    top: 60px;
}
.third_Screen video{
    position: relative;
    size: 40px ;
    right:76px;
    width: 20vw;
    bottom: 17vw;
}